<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23646273668-g7au02mvr67qso7p6eln9f4a53enk68h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23646273668-g7au02mvr67qso7p6eln9f4a53enk68h</string>
	<key>API_KEY</key>
	<string>AIzaSyDeUMiDxHrEyQG9A4ogKfnDpCCsSZjsJUA</string>
	<key>GCM_SENDER_ID</key>
	<string>23646273668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstFirestorePractical</string>
	<key>PROJECT_ID</key>
	<string>firestore-practical-1</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-practical-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23646273668:ios:9b12c312e174f1d97602d1</string>
</dict>
</plist>